.map .row {
  overflow: auto;
  zoom: 1;
}

.map .row .cell {
  position: relative;
  float: left;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
}

.map .row .cell .tile {
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  background-image: url("/images/tiles/16x16/basic.png");
  background-repeat: no-repeat;
  background-position: -96px  -32px;
  /* black tile */
}

.tile.half-x {
  width: 8px;
  min-width: 8px;
  max-width: 8px;
}

.tile.half-x-right {
  left: 8px !important;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
}

.tile.half-y {
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.tile.half-y-bottom {
  top: 8px !important;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.tile.brick-wall {
  background-position: 0px    0px;
}

.tile.brick-wall-2 {
  background-position: -16px    0px;
}

.tile.brick-wall-3 {
  background-position: -32px    0px;
}

.tile.brick-wall-4 {
  background-position: -48px    0px;
}

.tile.brick-wall-5 {
  background-position: -64px    0px;
}

.tile.brick-wall-6 {
  background-position: -80px    0px;
}

.tile.brick-wall-7 {
  background-position: -96px    0px;
}

.tile.brick-wall-8 {
  background-position: -112px    0px;
}

.tile.wood {
  background-position: 0px  -16px;
}

.tile.red {
  background-position: -16px  -16px;
}

.tile.sand {
  background-position: -32px  -16px;
}

.tile.grass {
  background-position: -48px  -16px;
}

.tile.flowers {
  background-position: -64px  -16px;
}

.tile.water {
  background-position: -80px  -16px;
}

.tile.bricks {
  background-position: -96px  -16px;
}

.tile.stone-wall {
  background-position: -112px  -16px;
}

.tile.plank {
  background-position: 0px  -32px;
}

.tile.carpet {
  background-position: -16px  -32px;
}

.tile.sand-round {
  background-position: -32px  -32px;
}

.tile.grass-round {
  background-position: -48px  -32px;
}

.tile.plan {
  background-position: -64px  -32px;
}

.tile.waterfall {
  background-position: -80px  -32px;
}

.tile.black {
  background-position: -96px  -32px;
}

.tile.stone-wall-2 {
  background-position: -112px  -32px;
}

.tile.stone-edge-top-left {
  background-position: 0px  -48px;
}

.tile.stone-edge-top {
  background-position: -16px  -48px;
}

.tile.stone-edge-top-right {
  background-position: -32px  -48px;
}

.tile.pot {
  background-position: -48px  -48px;
}

.tile.pot-broken {
  background-position: -64px  -48px;
}

.tile.glass {
  background-position: -80px  -48px;
}

.tile.tree {
  background-position: -96px  -48px;
}

.tile.well {
  background-position: -112px  -48px;
}

.tile.stone-edge-left {
  background-position: 0px  -64px;
}

.tile.entrance-south {
  background-position: -16px  -64px;
}

.tile.stone-edge-right {
  background-position: -32px  -64px;
}

.tile.chest-open {
  background-position: -48px  -64px;
}

.tile.chest-close {
  background-position: -64px  -64px;
}

.tile.glass-2 {
  background-position: -80px  -64px;
}

.tile.tree-2 {
  background-position: -96px  -64px;
}

.tile.column {
  background-position: -112px  -64px;
}

.tile.stone-edge-bottom-left {
  background-position: 0px  -80px;
}

.tile.stone-edge-bottom {
  background-position: -16px  -80px;
}

.tile.stone-edge-bottom-right {
  background-position: -32px  -80px;
}

.tile.castle {
  background-position: -48px  -80px;
}

.tile.village {
  background-position: -64px  -80px;
}

.tile.bed-top {
  background-position: -80px  -80px;
}

.tile.throne {
  background-position: -96px  -80px;
}

.tile.statue {
  background-position: -112px  -80px;
}

.tile.wood-door {
  background-position: 0px  -96px;
}

.tile.iron-door {
  background-position: -16px  -96px;
}

.tile.entrance-top {
  background-position: -32px  -96px;
}

.tile.posts {
  background-position: -48px  -96px;
}

.tile.map {
  background-position: -64px  -96px;
}

.tile.bed-bottom {
  background-position: -80px  -96px;
}

.tile.table {
  background-position: -96px  -96px;
}

.tile.drawer {
  background-position: -112px  -96px;
}

.tile.stairs-up {
  background-position: 0px -112px;
}

.tile.stairs-down {
  background-position: -16px -112px;
}

.tile.rocks {
  background-position: -32px -112px;
}

.tile.posts-2 {
  background-position: -48px -112px;
}

.tile.torch {
  background-position: -64px -112px;
}

.tile.torch-2 {
  background-position: -80px -112px;
}

.tile.mountain {
  background-position: -96px -112px;
}

.tile.mountain-2 {
  background-position: -112px -112px;
}

.tile.grass-2 {
  background-position: 0px -128px;
}

.tile.grass-3 {
  background-position: -16px -128px;
}

.tile.lava-stone-wall {
  background-position: -32px -128px;
}

.tile.post {
  background-position: -48px -128px;
}

.tile.gold {
  background-position: -64px -128px;
}

.tile.gems {
  background-position: -80px -128px;
}

.tile.post-armor {
  background-position: -96px -128px;
}

.tile.post-magic {
  background-position: -112px -128px;
}

.tile.wood-2 {
  background-position: 0px -144px;
}

.tile.bricks-2 {
  background-position: -16px -144px;
}

.tile.lava {
  background-position: -32px -144px;
}

.tile.lava-2 {
  background-position: -48px -144px;
}

.tile.tree-3 {
  background-position: -64px -144px;
}

.tile.tree-4 {
  background-position: -80px -144px;
}

.tile.post-sword {
  background-position: -96px -144px;
}

.tile.post-potion {
  background-position: -112px -144px;
}

.tile.stone-bridge-vert {
  background-position: 0px -160px;
}

.tile.stone-bridge-horz {
  background-position: -16px -160px;
}

.tile.wood-bridge-vert {
  background-position: 0px -176px;
}

.tile.wood-bridge-horz {
  background-position: -16px -176px;
}

.tile.column-top {
  background-position: -48px -176px;
}

.tile.tree-5 {
  background-position: -64px -176px;
}

.tile.dialog-box-top-left {
  background-position: -80px -176px;
}

.tile.dialog-box-top {
  background-position: -96px -176px;
}

.tile.dialog-box-top-right {
  background-position: -112px -176px;
}

.tile.column-bottom {
  background-position: -48px -192px;
}

.tile.dialog-box-left {
  background-position: -80px -192px;
}

.tile.dialog-box-background {
  background-position: -96px -192px;
}

.tile.dialog-box-right {
  background-position: -112px -192px;
}

.tile.tree-6 {
  background-position: -48px -208px;
}

.tile.tree-7 {
  background-position: -64px -208px;
}

.tile.dialog-box-bottom-left {
  background-position: -80px -208px;
}

.tile.dialog-box-bottom {
  background-position: -96px -208px;
}

.tile.dialog-box-bottom-right {
  background-position: -112px -208px;
}

.tile.tree-8 {
  background-position: -48px -224px;
}

.tile.tree-9 {
  background-position: -64px -224px;
}

.tile.sand.top-left {
  background-position: -40px -40px;
  left: 8px !important;
  top: 8px !important;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.tile.sand.top-right {
  background-position: -32px -40px;
  left: 0px !important;
  top: 8px !important;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.tile.sand.bottom-left {
  background-position: -40px -32px;
  left: 8px !important;
  top: 0px !important;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.tile.sand.bottom-right {
  background-position: -32px -32px;
  left: 0px !important;
  top: 0px !important;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

